<div class="ticker">
    <div class="ticker__list" id="js-ticker">
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/apple.svg" alt="">
            <div class="ticker__title">
                <span>Apple iTunes (UK) 1</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/amazon.svg" alt="">
            <div class="ticker__title">
                <span>Amazon (Global)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/playstation.svg" alt="">
            <div class="ticker__title">
                <span>PlayStation</span>
                <strong>500$</strong>
            </div>
            <span class="ticker__price">+27.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/apple.svg" alt="">
            <div class="ticker__title">
                <span>Apple iTunes (UK)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/amazon.svg" alt="">
            <div class="ticker__title">
                <span>Amazon (Global)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/playstation.svg" alt="">
            <div class="ticker__title">
                <span>PlayStation</span>
                <strong>500$</strong>
            </div>
            <span class="ticker__price">+27.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/apple.svg" alt="">
            <div class="ticker__title">
                <span>Apple iTunes (UK)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/amazon.svg" alt="">
            <div class="ticker__title">
                <span>Amazon (Global)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/playstation.svg" alt="">
            <div class="ticker__title">
                <span>PlayStation</span>
                <strong>500$</strong>
            </div>
            <span class="ticker__price">+27.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/apple.svg" alt="">
            <div class="ticker__title">
                <span>Apple iTunes (UK)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/amazon.svg" alt="">
            <div class="ticker__title">
                <span>Amazon (Global)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/playstation.svg" alt="">
            <div class="ticker__title">
                <span>PlayStation</span>
                <strong>500$</strong>
            </div>
            <span class="ticker__price">+27.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/apple.svg" alt="">
            <div class="ticker__title">
                <span>Apple iTunes (UK)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/amazon.svg" alt="">
            <div class="ticker__title">
                <span>Amazon (Global)</span>
                <strong>100$</strong>
            </div>
            <span class="ticker__price">+97.55 $</span>
        </div>
        <div class="ticker__item">
            <img class="ticker__img" src="./assets/img/tickers/playstation.svg" alt="">
            <div class="ticker__title">
                <span>PlayStation verc</span>
                <strong>500$</strong>
            </div>
            <span class="ticker__price">+27.55 $</span>
        </div>
    </div>
</div>